.challengeBoxContainer {
  height: 100%;

  background: var(--whiteBlack);
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: var(--title);

}

.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challengeNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.challengeNotActive p {
  display: flex;
  align-items: center;
  text-align: start;
  gap: 2rem;

  line-height: 1.4;
  margin-top: 3rem;
}

.challengeNotActive p img {
  height: 4rem;
}

.challengeActive {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.challengeActive header {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0 2rem 1.5rem;
  border-bottom: 1px solid var(--gray-line);
}

.challengeActive main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challengeActive main strong {
  font-weight: 2rem;
  font-weight: 600;
  color: var(--title);
  margin: 1.5rem 0 1rem;
}

.challengeActive main p {
  line-height: 1.5;
}

.challengeActive footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.challengeActive footer button {
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 5px;

  color: var(--white);

  font-size: 1rem;
  font-weight: 600;

  transition: filter 0.2s;
}

.challengeActive footer button.challengeFailedButton {
  color: var(--red);
  background-color: var(--red-light);
}

.challengeActive footer button.challengeFailedButton:hover {
  color: var(--white);
  background-color: var(--red);
}

.challengeActive footer button.challengeSucceededButton {
  color: var(--green);
  background-color: var(--green-light);
}

.challengeActive footer button.challengeSucceededButton:hover {
  color: var(--white);
  background-color: var(--green);
}

@media (max-width: 1200px) {
  .challengeBoxContainer  {
    min-height: 400px;
  }

  .challengeActive, .challengeNotActive {
    gap: 2rem;
  }
}