.container {
  position: fixed;
  height: 100%;
  padding: 3rem 0;
  background-color: var(--whiteBlack);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  z-index: 1;

  color: var(--headings);
}

.container img {
  width: 2rem;
}

.container nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.navItem,
.navItemSelected {
  display: flex;
  padding: 0 2rem;
  cursor: pointer;
}

.navItem {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: color 0.2s;
}

.navItem:hover svg {
  color: var(--blue);
}

.navItemSelected {
  border-right: 4px solid transparent;
  border-left: 4px solid var(--blue);
}

.navItemSelected svg {
  color: var(--blue);
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    height: 70px;
    padding: 0 1rem;
    bottom: 0;

    flex-direction: row;
  }

  .container nav {
    flex-direction: row;
    height: 100%;
    gap: 1.5;
    justify-content: center;
    align-items: center;
  }

  .navItem,
  .navItemSelected {
    border-left: none;
    border-bottom: 4px solid transparent;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
  }


  .navItem {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }

  .navItemSelected {
    border-top: 4px solid var(--blue);
  }
}
