.container {
  height: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;

}

.container section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
    margin: 0 auto;
}

.container section div {
    max-width: 500px;
}

@media (max-width: 1200px) {

  .container {
    margin: 0 auto 7rem auto;
  }

  .container section {
    display: flex;
    flex-direction: column;
  }
}