.container {
  height: 100%;
  max-width: 992px;

  margin: 0 auto;
  padding: 2.5rem 3rem;

  display: flex;
  flex-direction: column;
}

.container h1 {
  margin-bottom: 1rem;
  color: var(--title);
}

.boardTitle {
  width: 100%;
  display: flex;
  font-weight: 600;
  text-transform: uppercase;
  gap: 0.5rem;
  color: var(--headings);
}

.boardTitle p {
  display: flex;
  align-items: center;
}

.boardTitle .position {
  width: 6rem;
}

.boardTitle .user {
  flex-grow: 1;
}

.boardTitle .challenges {
  width: 10rem;
}

.boardTitle .experience {
  width: 10rem;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 auto 7rem auto;
    padding: 1rem;
  }
}

@media (max-width: 720px) {
  .boardTitle .challenges {
    display: none;
  }

  .boardTitle .experience {
    width: 4.5rem;
  }
}
